<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ClienteHospital</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ListaEspecialidad</display-name>
    <servlet-name>ListaEspecialidad</servlet-name>
    <servlet-class>servlets.ListaEspecialidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaEspecialidad</servlet-name>
    <url-pattern>/ListaEspecialidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicosPorEspecialidad</display-name>
    <servlet-name>MedicosPorEspecialidad</servlet-name>
    <servlet-class>servlets.MedicosPorEspecialidad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicosPorEspecialidad</servlet-name>
    <url-pattern>/MedicosPorEspecialidad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservarHoraAps</display-name>
    <servlet-name>ReservarHoraAps</servlet-name>
    <servlet-class>servlets.ReservarHoraAps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservarHoraAps</servlet-name>
    <url-pattern>/ReservarHoraAps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraMedicaPorRango</display-name>
    <servlet-name>BuscarHoraMedicaPorRango</servlet-name>
    <servlet-class>servlets.BuscarHoraMedicaPorRango</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraMedicaPorRango</servlet-name>
    <url-pattern>/BuscarHoraMedicaPorRango</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraPorRango</display-name>
    <servlet-name>BuscarHoraPorRango</servlet-name>
    <servlet-class>servlets.BuscarHoraPorRango</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraPorRango</servlet-name>
    <url-pattern>/BuscarHoraPorRango</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarMedico</display-name>
    <servlet-name>BuscarMedico</servlet-name>
    <servlet-class>servlets.BuscarMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarMedico</servlet-name>
    <url-pattern>/BuscarMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraMedica</display-name>
    <servlet-name>BuscarHoraMedica</servlet-name>
    <servlet-class>servlets.BuscarHoraMedica</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraMedica</servlet-name>
    <url-pattern>/BuscarHoraMedica</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraApsPorMedico</display-name>
    <servlet-name>BuscarHoraApsPorMedico</servlet-name>
    <servlet-class>servlets.BuscarHoraApsPorMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraApsPorMedico</servlet-name>
    <url-pattern>/BuscarHoraApsPorMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraMedicaControl</display-name>
    <servlet-name>BuscarHoraMedicaControl</servlet-name>
    <servlet-class>servlets.BuscarHoraMedicaControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraMedicaControl</servlet-name>
    <url-pattern>/BuscarHoraMedicaControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraMedicaAps</display-name>
    <servlet-name>BuscarHoraMedicaAps</servlet-name>
    <servlet-class>servlets.BuscarHoraMedicaAps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraMedicaAps</servlet-name>
    <url-pattern>/BuscarHoraMedicaAps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraControlPorMedico</display-name>
    <servlet-name>BuscarHoraControlPorMedico</servlet-name>
    <servlet-class>servlets.BuscarHoraControlPorMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraControlPorMedico</servlet-name>
    <url-pattern>/BuscarHoraControlPorMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarHoraDisponibleMedico</display-name>
    <servlet-name>BuscarHoraDisponibleMedico</servlet-name>
    <servlet-class>servlets.BuscarHoraDisponibleMedico</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarHoraDisponibleMedico</servlet-name>
    <url-pattern>/BuscarHoraDisponibleMedico</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetalleReporte</display-name>
    <servlet-name>DetalleReporte</servlet-name>
    <servlet-class>servlets.DetalleReporte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetalleReporte</servlet-name>
    <url-pattern>/DetalleReporte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerarReporteBox</display-name>
    <servlet-name>GenerarReporteBox</servlet-name>
    <servlet-class>servlets.GenerarReporteBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerarReporteBox</servlet-name>
    <url-pattern>/GenerarReporteBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PacienteMasAtendido</display-name>
    <servlet-name>PacienteMasAtendido</servlet-name>
    <servlet-class>servlets.PacienteMasAtendido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PacienteMasAtendido</servlet-name>
    <url-pattern>/PacienteMasAtendido</url-pattern>
  </servlet-mapping>
</web-app>